*{
margin: 0;
padding: 0;
border: 0;
list-style: none;
}
a {
    text-decoration: none;
    color: white;
}

.header{
    width: 100%;
    background-color: #144371;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.Btts{
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}
.Btts button{
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    margin: 0px 15px 0px 15px;
    background-color: #126B87;
    color: white;
    
}

.menu{
    display: flex;
    
}
.menu li{
    margin-left: 15px;
}
.menu li a{
    display: block;
    margin:0px 15px 0px 0px;
}